/* GENERAL */
* {
    text-align: center;
}

.bg-img {
    /* The image used */
    background-image: url("Images/nav.png");

    min-height: 150px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* Needed to position the navbar */
    position: relative;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* The navbar */
.topnav {
    overflow: hidden;

}

/* Navbar links */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 30px 63px;
    text-decoration: none;
    font-size: 280%;
}

.topnav a:hover {
    text-shadow: gold 4px 4px 20px;
    color: black;
}
.active {
    text-shadow: gold 4px 4px 20px;
}
body {
    background-image: url(Images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}
.pirate {
    width: 70%;
    height: 320px;
    margin-top: 100px;


}

/* INDEX.HTML */

.indexheader {
    font-size: 400%;
}
.indexpar {
    font-size: 250%;
}
.indexbird {
    width: 60%;
    margin-left: 40%;
    margin-top: 50%;
}

/* GAME.HTML */

/* TEST.HTML */

/* NOTES.HTML */
.changelog /* Changelog class */{
    width: 900px;
    margin: auto;
    font-size: 120%;
}
.changelog, th, td /* Changelog, table header and table data class */{
    border: 2px solid black;
    border-radius: 8px;
}
.notesparagraph /* First paragraph class */{
    font-size: 120%;
}
dt, dd {
    text-align: left;
}